.about-us  display flex  flex-grow: 1  flex-direction: column  height: 100vh  background-color #11b8cc  .title-about-us    display: flex    flex-direction: row    justify-content: center    height 100px    background-color #424242    h2      display flex      justify-content center      align-items center      font-size 3rem      color #dfdfdf  .about-us__who-we-are    display flex    flex-direction row    flex-grow 1    background-color red  .about-us__what-we-do    display flex    flex-direction row    flex-grow 1    background-color green  .about-us__how-we-do-it    display flex    flex-direction row    flex-grow 1    background-color yellow