doctype html
html(lang="en")
  head
    title Gulp template
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/libraries.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    header.header
      .header-top-bar
        .container
          a.header-top-bar-logo(href="#")
            img.header-top-bar-logo__img(src="http://placehold.it/200x100", alt="Main logo")
          nav.header-top-bar-nav
            ul.header-top-bar-nav__list
              li.header-top-bar-nav__list--item
                a(href="#") home
              li.header-top-bar-nav__list--item_selected
                a(href="#") about
              li.header-top-bar-nav__list--item
                a(href="#") skills
              li.header-top-bar-nav__list--item
                a(href="#") our projects
              li.header-top-bar-nav__list--item
                a(href="#") our team
              li.header-top-bar-nav__list--item
                a(href="#") contact
      .header-slider
        .container
          .header-slider-container
            h1.header-slider-container-title we are satigo
            p.header-slider-container-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ad eius optio sed aperiam?
            form.header-slider-container-form
              input.header-slider-container-form__join-btn(type="submit")
              input.header-slider-container-form__works-btn(type="submit")
      .header-status
      .header-partner-logos
  script(src="js/libraries.min.js")
  script(src="js/common.js")